/* @keyframes rotate{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

@keyframes changeColor {
    from{
        background-color:red;
    }to{
        background-color:blue;
        }
}

.container-giratorio{
    background-color: rgb(255, 0, 0);
    
    margin-left:150px;
    margin-top: 300px;
    display: inline-block;
    animation: rotate .2s linear infinite;

}

.container-giratorio:hover {
    animation: rotate 0s linear infinite;
    animation: changeColor 2s linear infinite;
    }

.animated-field{
    animation: changeColor 2s linear infinite;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    color: aliceblue;
    width: auto;
    font-size: 54px;
    height: auto;
} */
